/*
Basic of template
*/
html,body,.fullScreen{
    height: 100%;
}
body{   
    font-size: 14px;
    font-weight: 300;
        color: #aeaeae;
    line-height: 1.6;
    letter-spacing: 0em;
    font-family: $base-font;
    overflow-x: hidden;
    background-color: #212121;
}
button, input, optgroup, select, textarea{
    font-family: $base-font;
}
button{
    &:focus{
        outline: 0!important;
    }
}
a,.simple-hover img,button,.btn{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;    
}
a{
color:$primary-color;
    text-decoration:none;
    &:hover,&:focus{
        text-decoration: none;
        outline: 0!important;
        color:#666;
    }
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-family: $title-font;
    font-weight: 400;
    line-height: 1.1;
    color: #fff;
}
.display-1,.display-2,.display-3,.display-4,.lead {
    font-weight: 300
}

.h1,h1 {
    font-size: 2.5rem
}

.h2,h2 {
    font-size: 2rem
}

.h3,h3 {
    font-size: 1.75rem
}

.h4,h4 {
    font-size: 1.2rem
}

.h5,h5 {
    font-size: 1rem
}

.h6,h6 {
    font-size: .8rem
}

.lead {
    font-size: 1.25rem
}

.display-1 {
    font-size: 6rem
}

.display-2 {
    font-size: 5.5rem
}

.display-3 {
    font-size: 4.5rem
}

.display-4 {
    font-size: 3.5rem
}

hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}

.small,small {
    font-size: 80%;
    font-weight: 400
}
ul, ol{
    margin: 0 0 1.5em 0;
}
.tritary-font{
    font-family:$styled-font;
    font-weight:400;
}
.base-font{
    font-family: $base-font;
    font-weight: 300;
}
.font300{
    font-weight: 300!important;
}
.font400{
    font-weight: 400!important;
}
.font500{
    font-weight: 600!important;
}
.font700{
    font-weight: 700!important;
}
.font900{
    font-weight: 900!important;
}

.label{
    display: inline-block;
    padding: 1px 7px;
    border-radius: 2px;
    font-size:10px;
}
.bg-faded{
    background:#313131;
}
.badge-primary{
      background: $primary-color!important;
}
.bg-primary{
    background: $primary-color!important;
    border-color:$primary-color;
}
.bg-success{
    background: $success-color!important;
    border-color:$success-color;
}
.bg-warning{
    background: $warning-color;
    border-color:$warning-color;
}
.bg-info{
    background-color: $info-color;
    border-color:$info-color;
}
.bg-danger{
    background-color: $danger-color;
    border-color:$danger-color;
}
.bg-dark{
    border-color:$dark-color;
    background-color:$dark-color;
}
.bg-white{
    background: #232323!important;
}
.text-primary{
    color: $primary-color!important;
}
.text-danger{
    color: $danger-color!important;
}
.text-success{
    color: $success-color!important;
}
.text-warning{
    color: $warning-color!important;
}
.text-info{
    color: $info-color!important;
}
.text-white{
     color:rgba(#fff,1)!important;
}
.text-dark{
     color:rgba(#222,1)!important;
}
.text-white-gray{
    color:rgba(#fff,.8)!important;
}
.border-round{
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.pos-relative{
    position:relative;
}

.lead{
    font-weight: 300;
}
strong,b{
    font-weight: 700;
}
.fWidth{
    width: 100%!important;
}
.oHidden{
    overflow: hidden!important;;
}
strong,b{
    font-weight: 700;
}
.mr0{
    margin-right:0px!important;
}
.pt0{
    padding-top: 0!important;
}
.pt10{
    padding-top: 10px!important;;
}
.pt20{
    padding-top: 20px!important;;
}
.pt30{
    padding-top: 30px!important;;
}
.pt40{
    padding-top: 40px!important;;
}
.pt50{
    padding-top: 50px!important;;
}
.pt60{
    padding-top: 60px!important;;
}
.pt70{
    padding-top: 70px!important;;
}
.pt80{
    padding-top: 80px!important;;
}
.pt90{
    padding-top: 90px!important;;
}
.pt100{
    padding-top: 100px!important;;
}
.pb0{
    padding-bottom: 0!important;
}
.pb10{
    padding-bottom: 10px!important;
}
.pb15{
    padding-bottom: 15px!important;
}
.pb20{
    padding-bottom: 20px!important;
}
.pb30{
    padding-bottom: 30px!important;
}
.pb40{
    padding-bottom: 40px!important;
}
.pb50{
    padding-bottom: 50px!important;
}
.pb60{
    padding-bottom: 60px!important;
}
.pb70{
    padding-bottom: 70px!important;
}
.pb80{
    padding-bottom: 80px!important;
}
.pb90{
    padding-bottom: 90px!important;
}
.pb100{
    padding-bottom: 100px!important;
}
.mb0{
    margin-bottom: 0!important;
}
.mb5{
    margin-bottom: 5px!important;
}
.mb10{
    margin-bottom: 10px!important;
}
.mb20{
    margin-bottom: 20px!important;
}
.mb30{
    margin-bottom: 30px!important;
}
.mb40{
    margin-bottom: 40px!important;
}
.mb50{
    margin-bottom: 50px!important;
}
.mb60{
    margin-bottom: 60px!important;
}
.mb70{
    margin-bottom: 70px!important;
}
.mb80{
    margin-bottom: 80px!important;
}
.mb90{
    margin-bottom: 90px!important;
}
.mb100{
    margin-bottom: 100px!important;
}
.mt5{
    margin-top:5px!important;
}
.bg-default{
    background-color: $default-color!important;
}
.bg-gray{
    background-color: #fbfbfb;
}
.pd-card{
    padding: 40px 20px;
}
.border0-hor{
    border-left: 0!important;
    border-right: 0!important;
}
.back-to-top{
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    bottom: 10px;
    right:10px;
    background: #000;
    color: $primary-color;
    line-height: 50px;
    opacity:0;
    visibility: hidden;
    z-index:9;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transform: translate3d(0,15px, 0);
    -webkit-transform: translate3d(0,15px, 0);
    i{
        display: block;
        font-size: 25px;
        line-height: 50px;
        text-align: center;
    }
    &:hover{
        box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
        color:#fff;
    }
    &.show{
        opacity:1;
        visibility: visible;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
    }
}

/**preloader**/
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.no-margin{
    margin: 0!important;
}
.no-padding{
    padding-left:0!important;
    padding-right:0!important;
}
@media(min-width:992px){
    .table-responsive{
        display: table;
    }
}
.bg-parallax{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    &.parallax-overlay{
        &:before{
            background-color: rgba(0,0,0,.5);
            opacity: 1;
        }
    }
}

/*****

Form controls

******/
.form-control,input[type="text"],input[type="email"],input[type="phone"],input[type="password"],textarea{
    min-height: 45px;
    border-radius: 2px;
    border: 1px solid rgba(#fff,.3);
    background-color: transparent;
    font-size:13px;
    &:hover,&:focus,&:active{
        background-color: #212121;
        color:#fff;
    }
}


.center-title{
    position:relative;
    padding-bottom:20px;
    &:before,&:after{
         position: absolute;
        bottom: 0px;     
    }
    &:after{
        content: "";
        width:8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary-color;
       left: 50%;
        margin-left: -4px;
    }
    &:before{
        content: "";
        width: 80px;
        left: 50%;
        margin-left: -40px;
        height: 1px;
        background-color: #aeaeae;
        bottom: 3px;
    }
    h3{
        color: $primary-color;
    font-size:2rem;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 0px;
    }
}

.list-icon li {
  position: relative;
  padding-left: 23px;
  margin-top: 5px;
  display: block;
  font-family: $title-font }
  .list-icon li:before {
    content: "\e64c";
    font-family: 'themify';
    position: absolute;
    left: 0;
    top: 0;
    color: $primary-color; }

  .share-buttons{
      li{
          vertical-align: middle;
          &:first-child{
              margin-right: 10px;
          }
          a{
              margin-right:0px;
          }
      }
  }