/*
Dropdown menu styles
*/

.dropdown-menu{
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    min-width: 12rem;
    border:0px;
    background-color: #212121;
    padding:1rem;
    margin:0px;
    border-radius: 0px;
}
.dropdown-menu .dropdown-item{
    font-weight:400;
    font-size: .8rem;
    color:#a1b1bc;
    font-family: $base-font;
    padding:.6rem 1rem;
    text-transform: capitalize;
    &:hover,&:focus{
        background-color: #313131;
    }
}
/**mulit level dropdown**/
.dropdown-submenu { position: relative }
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 0px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block; 
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #f7f7f7;
    margin-top: 6px;
    margin-right: -5px;

}
.dropdown-submenu:hover>a:after { border-left-color: #ccc }
.dropdown-submenu.pull-left { float: none }
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 0px;
}
@media(min-width:992px){
    .dropdown-menu,.dropdown-submenu .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        -moz-transform: translateY(8px);
        -o-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .show>.dropdown-menu,.dropdown-submenu:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}