

/**main slider**/
.mainSlide-Title-Centered{
    color:#fff;
    font-weight:400;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-family:$title-font;
}
.mainSlide-Subtitle{
    font-family: $styled-font;
    font-weight: 400;
    color:#eee;
}
.mainSlide-caption{
    color:#fff;
    font-weight: 300;
    font-family:$base-font;
}