/*
Assan main style file
*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/**et line icons**/
@font-face {
  font-family: 'et-line';
  src: url("../et-line-font/fonts/et-line.eot");
  src: url("../et-line-font/fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../et-line-font/fonts/et-line.woff") format("woff"), url("../et-line-font/fonts/et-line.ttf") format("truetype"), url("../et-line-font/fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }
/*themify icons*/
@font-face {
  font-family: 'themify';
  src: url("../bower_components/themify-icons/fonts/themify.eot");
  src: url("../bower_components/themify-icons/fonts/themify.eot?#iefix") format('embedded-opentype'),
		url("../bower_components/themify-icons/fonts/themify.woff") format('woff'),
		url("../bower_components/themify-icons/fonts/themify.ttf") format('truetype'),
		url("../bower_components/themify-icons/fonts/themify.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Prata');
@import "_variables.scss";
@import "_base.scss";
@import "_preloader.scss";
@import "_breadcrumbs.scss";
@import "_buttons.scss";
@import "_header.scss";
@import "_dropdown.scss";
@import "_pagination.scss";
@import "_hero.scss";
@import "_icon-cards.scss";
@import "_img-card.scss";
@import "_portfolio.scss";
@import "_carousel.scss";
@import "_blog.scss";
@import "_team.scss";
@import "_pricing.scss";
@import "_sidebar.scss";
@import "_revolution-slider.scss";
@import "_footer.scss";
@import "_responssive.scss";